name: CI/CD workflow

on: workflow_dispatch

env:
  AWS_REGION: eu-north-1
  ECR_REPOSITORY: sentiment-app-onnx
  S3_BUCKET: mlops-lab11-artifacts

jobs:
  integration:
    name: checks_and_tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repo
        # This step checks out your repository code so the workflow can access it
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        # TODO: Add command to sync ONLY integration group dependencies
        run:  uv sync --group integration

      # TODO: Add steps for 'ruff check' and 'pytest'
      - name: Ruff check
        run: uv run ruff check .

      - name: Pytest
        run: uv run pytest